body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 300px 1fr;
}

#sidebar{
    background-color: #fa9c7a;
    position: sticky;
    left: 0%;
}

#location{
    color: white;
    border-width: 0;
    width: min-content;
    height: 24px;
    font-size: large;
    padding: 12px;
    font-weight: 900;
}

#location::placeholder {
    color: white;
}

#main-content{
    display: grid;
    grid-template-columns: repeat(7,200px);
    grid-template-rows: 0.3fr 0.4fr 0.3fr;
    align-content: center;
    margin-left: 200px;
    gap: 20px   ;
}

.forecast-element{
    height: 300px;
    grid-row: 2;
    background-color: rgb(228, 228, 228);
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

.temp-max{
    grid-row: 4;
    grid-column: 4;
}

.temp-min{
    grid-row: 4;
    grid-column: 2;
}

.forecast-date{
    background-color: beige;
    width: 140px;
    height: 16px;
}

#menu-button{
    background-color: azure;
    width: 102px;
    position:sticky;
    top: 50px;
}
